body {
    font-family: sans-serif;
	background-image: url(./photo/main_bg.jpg);
	height: 500px; /* You must set a specified height */
	@background-position: center; /* Center the image */
	background-repeat: no-repeat;
	background-size: cover; /* Resize the background image to cover the entire container */
	background-color: lightblue;
}
* {
    box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.dropbtn {
	border: none;
	position: static;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.mainBlock{
	margin: auto;
    margin-top: 30px;
	position: center;
	height: 850px;	
    width: 625Px;
    border: 10px;
    padding: 15px;
    line-height: 1.8; 
    background-color: rgba( 0, 31, 39, 0.35) !important;
}

.mainBlock label{
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
}

.headline{
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
}

.question{
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
}